.cardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 350px));
    align-items: stretch;
    margin: 0px auto;
    height: inherit;
    place-content: center;
}
.taskCountCard{
    background: #11032d;
    max-width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.taskCountCard h3,span{
    text-align: center;
    color: #fff;
    padding-top:10px;
    text-transform: uppercase;
}
.taskCountCard span{
font-size: 30px;
margin:auto;
font-weight: bold;
}
.formContainer {
 display:flex;
 align-items: center;
 justify-content: space-around;
}
.formContainer input[type="submit"]{
    width: 80px;
}

.draggable-container{
    transition: all 0.5s ease-in-out;
}

.draggable-container.dragging{
    width:200px;
    height: 80px;
    background-color:red;
    z-index: 99;
}